<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

                                    
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> 
    
    <!-- start of pencil icon -->
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg> 
<!-- end of pencil icon -->
  </button>
    
    
    <ul class="dropdown-menu">
      <li><a href="#">
      <!-- start of card icon -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
  <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
</svg> open card
<!-- end of card icon --></a></li>

      <li><a href="#">
      <!-- start of arrow icon -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg> move <!-- end of arrow icon --></a></li>
      <li><a href="#">
      
      <!-- start of copy icon -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
</svg> copy  <!-- end of copy icon --></a></li>




<li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
  <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg> edit dates 
<!-- end of date icon -->
</a>
<ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">
          <!--the start of calendar code -->
          
           <table border='1'  bordercolor='#3060c0' cellspacing='0' cellpadding='0' align=center>
<tr><td><table cellspacing='0' cellpadding='0' align=center width='100' border='1'><tr><td  align=center bgcolor='#3060c0'> <font size='3' face='Tahoma'>
<a href='html_calendar.php?prm=10&chm=-1' rel="nofollow"> </a>
</font> </td>
<td colspan=5 align=center bgcolor='#3060c0'> <font size='3' face='Tahoma'>Oct 2021 </font> </td><td  align=center bgcolor='#3060c0'><font size='3' face='Tahoma'> <a href='html_calendar.php?prm=10&chm=1' rel="nofollow">></a>  </font></td></tr><tr><td><font size='3' face='Tahoma'><b>Sun</b></font></td><td><font size='3' face='Tahoma'><b>Mon</b></font></td><td><font size='3' face='Tahoma'><b>Tue</b></font></td><td><font size='3' face='Tahoma'><b>Wed</b></font></td><td><font size='3' face='Tahoma'><b>Thu</b></font></td><td><font size='3' face='Tahoma'><b>Fri</b></font></td><td><font size='3' face='Tahoma'><b>Sat</b></font></td></tr><tr><td> </td><td> </td><td> </td><td> </td><td> </td><td valign=top><font size='2' face='Tahoma'>1  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>2  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>3  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>4  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>5  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>6  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>7  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>8  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>9  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>10  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>11  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>12  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>13  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>14  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>15  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>16  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>17  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>18  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>19  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>20  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>21  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>22  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>23  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>24  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>25  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>26  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>27  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>28  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>29  
<br>
 </font></td><td valign=top><font size='2' face='Tahoma'>30  
<br>
 </font></td></tr><tr><td valign=top><font size='2' face='Tahoma'>31  
<br>
 </font></td></tr></table></td></tr></table>
          <!-- the end of calendar code -->
          </a></li> </ul>
</ul>



  </div>
</div>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
</body>
</html>
